@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

:root{
    --light:rgba(238, 231, 203,0.9);
    --blue:rgb(38, 121, 151);
    --pink:rgb(215, 136, 139);
    --khaki: rgba(121, 112, 95,0.8);
    --darkkhaki:rgb(44, 41, 34);
    --red:rgb(112, 40, 40);
    --darkpink:rgb(251, 99, 170);
    --yellow:color:rgb(227, 203, 136);
    --green:rgb(102, 130, 115);
    --purple:rgba(196, 188,208,0.6);
    --boxshadow:1px solid rgba(200, 210, 205,0.5);
    --border:2px solid var(--darkkhaki);
    --pinkborder:3px dotted var(--pink);
    --purpleborder:3px dotted var(--purple);


}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /* max-width:1000px; */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:lighter;
    text-align: center;
}
/* 
.posts{
   display:inline-block;
 
  
   
} */
html{
    font-size: 80%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header-menu-position {
   position:sticky;
   top:2px;
   height:25px;
   color:var(--darkkhaki);
    box-shadow: var(--boxshadow);
    background-color:var(--light);
    display:flex;
    align-items: right;
    padding:25px;
    margin-bottom: 30px;
}



.header-menu-position .logo{
    color:var(--darkkhaki);
    font-size: 15px;
    margin-right: auto;
}
.header-menu-position .logo span{
    color: var(--green);
    font-weight: bold;
    font-size: larger;
}

.header-menu-position .navbar a{
  color:var(--darkkhaki);
  margin-right:15px;
  font-size:15px;
  text-transform: capitalize;
}

.header-menu-position .navbar a:hover{
    color:var(--blue);
}

.icons i{
    height:22px;
    line-height: 22px;
    width: 22px;
    text-align-last: center;
    color: var(--darkkhaki);
    background: var(--light);
    border-radius: 50%;
    margin-left:0.8px;
    cursor:pointer;
}

.icons i:hover{
    color:var(--light);
    background-color: var(--darkkhaki);
}


#search-box{
    width: 100%;
    border-radius: 10px;
    padding: 1px;
    font-size: 15px;
    color:var(--darkkhaki);
    height: 100%;
}

label{
    color: var(--darkkhaki);
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

label:hover{
    color: var(--blue);
}

#menu-bars{
    display: none;
}

footer {
    margin: 0;
    position:fixed;
    bottom:0px;
    width:100%;
    background-color: var(--light);
    text-align: center;
    padding: 15px 0;
}

.footertext{
    font-weight: bolder;
}


@media(max-width:900px){
    html{
        font-size: 30%; 
    }

    .header{
        padding:3px;
    }
    
}

@media(max-width:600px){
    #menu-bars{
        display: inline-block;
    }

    .header{
        display: flex;
        flex-direction: column;
    }

    .header .search-form{
        position: absolute;
        top:100%;
        left:0;
        right:0;
        width:100%;
        border-top: var(--border);
        border-radius: 0px;

    }
    .header .navbar{
        position: absolute;
        top:100%;
        left:0px;
        right:0px;
        border-top: var(--border);
        border-bottom: var(--border);
    }

}

#imghome{
width: 80%;
height:80%;
}


.aboutButton{
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  padding:0 15px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select:none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
  margin-bottom: 50px;
}

.aboutButton:hover {
  background-color: #fff;
}

.aboutButton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}


#abouttitle{
    padding:25px;
    font-size: 30px;
    font-weight: bolder;
    color:var(--darkkhaki);
    text-decoration:underline;
 
}
.about{
    display: flex;
    align-items: center;
    padding: 3%;
    background-color: rgba(196, 188,208,0.6);
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 10%;
    margin-top: 3%;
}
.aboutimgclass{
    margin-right: 3%;
    flex:0 0 auto;
}

#imgAbout{
    width:250px;
    height:auto;
   border:3px dotted var(--pink);
   padding:5%;
}

#aboutTable{
    flex:1;
    padding-right: 2%;
    padding-left:2%;
    box-sizing: border-box;
}

table{
    width:100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.7);
    margin-right:5%;
}
td{
    padding:10px;
    border: var(--pinkborder);
    font-size:12px;
}

@media (max-width: 620px) {
    .aboutButton {
      max-width: 150px;
      padding: 0 10px;
    }

    
  }

  #videotitle{
    padding:10px;
    font-size: 30px;
    font-weight: bolder;
    color:var(--darkkhaki);
    text-decoration:underline;
    margin-top: 3%;
    margin-bottom: 3%;

  }
  .video-box{
    text-align:center;
   margin-right: 10%;
   margin-left:10%;
   margin-bottom: 5%;

  }
  
  .video-box video{
    display:inline-block;
    width:70%;
    height:auto;
    padding:4px;
    border:5px dotted var(--purple);
  }